@page "/"
@rendermode InteractiveServer
@inject Aplicacion.ServiciosUsuarios. Uservice

<div>
<div><H1>Inicio de Sesión</H1></div>    
    <span>
        <b>Email del Usuario</b>
         <input placeholder="Email.com" @bind="usuario.Nombre" class=""> 
        <b>Contraseña</b>
         <input placeholder="Contraseña" @bind="usuario.Contrasenia" class="usuario.Contrasenia"> 
    </span>

</div> 