@code{
    [Parameter]
    public int IdUsuario{get; set;}
    [Parameter]
    public ServicioTramite ServicioT { get; set; } = null!;
    [Parameter]
    public ServicioExpedientes ServicioE{get; set;} = null!; 
    private bool visible { get; set; }
    
    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }
}

@if(visible)
{
    <div>
        <DialogoAlerta @ref="alerta" Mensaje ="@msj"></DialogoAlerta>
        <input type="text" placeholder="Contenido del tramite" @bind="contenido" class="form-control" />
        <p>ID_Expediente Corresponde</p>
        <input type="text" placeholder="Expediente que Pertenede" @bind="idExpediente" class="form-control" />
        <select @bind="estadoTramite" class="from-control">
            @foreach(var estado in estados)
            {
                <option value="@estado">@estado</option>
            }
        </select>
        <button class="btn btn-primary" @onclick="GuardarTramite">Guardar</button>
        <button class="btn btn-secondary" @onclick="Ocultar">Cancelar</button>
    </div>
}

@code {
    private Tramite _tramite = new Tramite(); 
    private int idExpediente; 
    private string contenido = ""; 
    private EstadoTramite estadoTramite;
    private List<EstadoTramite> estados = new List<EstadoTramite> { EstadoTramite.Despacho,
                                                                    EstadoTramite.EscritoPresentado, 
                                                                    EstadoTramite.PaseAEstudio,
                                                                    EstadoTramite.Resolucion,
                                                                    EstadoTramite.Notificacion,
                                                                    EstadoTramite.PaseAlArchivo
                                                                   };
    private DialogoAlerta alerta = null!; 
    private string msj = "";
    private void GuardarTramite()
    {
        try{
             if (string.IsNullOrEmpty(contenido) || string.IsNullOrEmpty(idExpediente.ToString()))
                throw new ValidacionException("No se completaron correctamente los campos");
            // Verificar la existencia del Expediente
            if (!ServicioE.ExisteId(idExpediente))
                throw new ValidacionException("El expediente no existe.");
            _tramite.Contenido = contenido;
            _tramite.EstadoTramite = estadoTramite;
            _tramite.ExpedienteId = idExpediente;
            _tramite.IdUsuario = IdUsuario;
            _tramite.FechaHoraCreacion = DateTime.Now; 
            _tramite.FechaHoraUltimaModificacion = DateTime.Now;
            ServicioT.AgregarRegistro(_tramite);
            
        }catch (Exception e ){
            msj = e.Message.ToString();
        }finally{
            alerta.Mostrar();
        }
    }
}