@code{
    [Parameter]
    public string Mensaje{get; set;} = "Mensaje de Confirmación"; 
    private bool visible; 
    public void Mostrar ()
    {
        visible = true; 
        StateHasChanged();
    }
    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }
}
@if(visible)
{
    <div class="alert alert-success" role="alert">
    @Mensaje
    <button class="btn btn-secondary" @onclick="Ocultar">Cerrar</button>
    </div>
}