@inject CasoUsoBajaTramite baja

@if(visible){
<FormularioModificacionTramite @ref="formulario" User= "@User" TramiteMod ="@tramite"></FormularioModificacionTramite>
<form>
    <div>
        <label for="idTramite">ID de Expediente</label>
        <input type="text" class="form-control" id="idTramite" @bind="@idTramite">
    </div>
    @* <DialogoAlerta @ref="excepciones" Mensaje = "@msj"></DialogoAlerta> *@
    <button type="button" class="btn btn-primary" @onclick="Eliminar">Eliminar</button>
    <button type="button" class="btn btn-secondary" @onclick="Ocultar">Cancelar</button>
</form>
    }
@code
{
    [Parameter] public Usuario User {get; set;}
    private int idTramite; 

    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }
    private void Eliminar(){
        try
        {
            baja.Ejecutar(idTramite);
        }
        catch(Exception e)
        {
            throw e;
        }
    }

}