@inject CasoUsoModificacionTramite casoModificacion

@if(visible){
    <div>
        <h6>Ingrese Campos Del Tramite</h6>
        <form>
            <div class="form-group">
                <label for="contenido">Contenido</label>
                <input placeholder="Contenido" class="form-control" @bind="TramiteMod.Contenido">
            </div>
            <div class="form-group">
                <label for="idExpediente">ID de Expediente</label>
                <input type="text" class="form-control" id="idExpediente" @bind="TramiteMod.ExpedienteId">
            </div>
            <div class="form-group">
                <label for="fechaHoraCreacion" class="form-label">Fecha de Creación</label>
                <input type="datetime-local" class="form-control" id="fechaHoraCreacion" @bind="TramiteMod.FechaHoraCreacion" />
            </div>
            <select @bind="TramiteMod.EstadoTramite" class="form-control">
                @foreach (var estado in Enum.GetValues(typeof(EstadoTramite)))
                {
                    <option value="@estado">@estado</option>
                }
            </select>
        </form>
        <button type="button" class="btn btn-secondary" @onclick="Ocultar">Cancelar</button>
        <button type="button" class="btn btn-primary" @onclick="Modificar">Modificar</button>
    </div>
}



@code{
 [Parameter] public Usuario User { get; set; }
 [Parameter] public Tramite TramiteMod {get; set;} 

    private bool visible = false;
    public void Mostrar()
    {
            visible = true;
            StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }
    private void Modificar(){
        try
        {   
            casoModificacion.Ejecutar(TramiteMod, User);
        }
        catch(Exception e)
        {
            throw e;
        }
        finally{
            this.Ocultar();
        }
    }
}


