@using SGE.UserI.Components.Pages
@rendermode InteractiveServer
@inject SGE.Aplicacion.CasoUsoAltaExpediente altaExpediente


@if(visible){
    <div>
        <h6>Ingrese Campos Del Expediente</h6>
        <form>
            <div class="form-group">
                <label for="Caratula">Caratula</label>
                <input placeholder="Caratula" class="form-control" @bind="expediente.Caratula">
            </div>
            <div class="form-group">
                <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
                <input type="datetime-local" class="form-control" id="FechaCreacion" @bind="expediente.FechaCreacion" />
            </div>
            <select @bind="expediente.Estado" class="form-control">
                @foreach (var estado in Enum.GetValues(typeof(EstadoExpediente)))
                {
                    <option value="@estado">@estado</option>
                }
            </select>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Ocultar">Cancelar</button>
        <button type="button" class="btn btn-primary" @onclick="Alta">Alta</button>
    </div>
}



@code{
 [Parameter] public Usuario User { get; set; }
 private Expediente expediente = new Expediente();

    private bool visible = false;
    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }
    private void Alta(){
        try
        {
            expediente.IdUsuarioModificacion = User.Id;
            expediente.FechaModificacion = DateTime.Now;
            altaExpediente.Ejecutar(expediente);
            expediente = new Expediente();
        }
        catch(Exception e)
        {
            throw e;
        }
        finally
        {
            this.Ocultar();
        }
    }
}