@inject CasoUsoModificacionExpediente casoModificacion

@if(visible){
    <br>
    <div>
        <h4>Ingrese Campos Del Expediente</h4>
        <form>
            <div class="form-group">
                <label for="caratula">Caratula</label>
                <input placeholder="caratula" class="form-control" @bind="Caratula">
            </div>
            <div class="form-group">
                <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
                <input type="datetime-local" class="form-control" id="FechaCreacion" @bind="FechaCreacion" />
            </div>
            <div>
                <p>Estado</p>
                <select @bind="Estado" class="form-control">
                    @foreach (var estado in Enum.GetValues(typeof(EstadoExpediente)))
                    {
                        <option value="@estado">@estado</option>
                    }
                </select>
            </div>
        </form>
        <br>
        <button type="button" class="btn btn-secondary" @onclick="Ocultar">Cancelar</button>
        <button type="button" class="btn btn-primary" @onclick="Modificar">Modificar</button>
    </div>
    <br>
    <DialogoAlerta @ref="dialogoAlerta" Mensaje = "@alerta"></DialogoAlerta>
}



@code{
 [Parameter] public Usuario? User { get; set; }
 [Parameter] public Expediente? ExpedienteMod { get; set; }
 private EstadoExpediente Estado; 
 private string Caratula = "";
 private DateTime  FechaCreacion; 
 [Parameter] public EventCallback ModExitosa { get; set; }
 private DialogoAlerta dialogoAlerta = new DialogoAlerta();
 private String alerta = "";


    private bool visible = false;
    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    private void Ocultar()
    {
        visible = false;
        StateHasChanged();
    }

    private async Task Modificar(){
        try
        {   

            if(ExpedienteMod != null && User != null){
            ExpedienteMod.FechaCreacion = FechaCreacion; 
            ExpedienteMod.Caratula = Caratula;
            ExpedienteMod.Estado = Estado;
            casoModificacion.Ejecutar(ExpedienteMod, User);
            await ModExitosa.InvokeAsync();
            this.Ocultar();
            }
        }
        catch(Exception e)
        {
            alerta = e.Message;
            dialogoAlerta.Mostrar();
        }
    }
}


