@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject SGE.Aplicacion.CasoUsoLoguear loguearUsuario
@inject SGE.Aplicacion.CasoUsoConsultaUsuarios consultaUsuarios

@inject ServicioUsuarioEstado logeado
<PageTitle>Bienvenido</PageTitle>
<div>
    <h1>Iniciar Sesión</h1>
    <div>
        <p>Ingrese Email para Iniciar Sesión</p>
        <input placeholder="Email" @bind="_usuario.correo" class="form-control">
    </div>
    <div>
        <p>Ingrese Contraseña</p>
        <input type="Contraseña" placeholder="contraseña" @bind="_usuario.contrasena" class="form-control">
        <DialogoAlerta @ref="dialogo" Mensaje = "@msj" />
    </div>
    <button class="btn btn-primary" @onclick="Validar">Ingresar</button>
</div>
<button class="btn btn-primary" @onclick="Registro">Registrarse</button>

@code {
    private string msj = " ";
    private Usuario _usuario = new Usuario();
    private DialogoAlerta dialogo = null!;

    private void Validar()
    {
        try
        {
            _usuario = loguearUsuario.Ejecutar(_usuario.correo, _usuario.contrasena);
            logeado.SetUsuario(_usuario);
            Navegador.NavigateTo("/expedientesfinal");
        }
        catch (Exception e)
        {
            msj = e.Message;
            dialogo.Mostrar();
        }
    }

    private void Registro()
    {
        Navegador.NavigateTo("/Registro");
    }
}