@page "/Registro"
@rendermode InteractiveServer

@inject SGE.Aplicacion.CasoUsoAltaUsuario altaUsuario
@inject SGE.Aplicacion.CasoUsoConsultaUsuarios consultaUsuarios
@inject SGE.Aplicacion.CasoUsoModificacionUsuario modificacionUsuario

@inject ServicioUsuarioEstado UsuarioLogged
@inject NavigationManager Navigation

<PageTitle>Registro</PageTitle>
    <h1>Registro de Usuario</h1>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <InputText id="nombre" class="form-control" @bind-Value="_usuario.nombre" />
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <InputText id="apellido" class="form-control" @bind-Value="_usuario.apellido" />
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <InputText id="correo" class="form-control" @bind-Value="_usuario.correo" />
    </div>
    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <InputText id="contrasena" type="password" class="form-control" @bind-Value="_usuario.contrasena" />
    </div>
    <DialogoAlerta @ref="dialogo" Mensaje="@msj"></DialogoAlerta>
    <button type="submit" class="btn btn-success" @onclick="RegistrarUsuario">Registrarse</button>

@code {
    private Usuario _usuario = new Usuario();
    private DialogoAlerta dialogo = null!;
    private string msj = ""; 
    private void RegistrarUsuario()
    {
        try{
            if((string.IsNullOrEmpty(_usuario.apellido))
                ||string.IsNullOrEmpty(_usuario.correo)
                ||string.IsNullOrEmpty(_usuario.nombre)
                ||string.IsNullOrEmpty(_usuario.contrasena))
                throw new ValidacionException("Error: Ingrese Los campos");
        var user = consultaUsuarios.Ejecutar().FirstOrDefault(u => u.correo == _usuario.correo);
        if(user != null)
            throw new ValidacionException("Error: Ese correo ya fue utilizado");
        else {
            // Comprobar si es el primer usuario en registrarse
            bool esPrimerUsuario = !consultaUsuarios.Ejecutar().Any();

            // Asignar permisos básicos o permisos de administrador si es el primer usuario
            _usuario.permisos = esPrimerUsuario ? new List<Permiso> { 
                Permiso.ExpedienteAlta, 
                Permiso.ExpedienteBaja, 
                Permiso.ExpedienteModificacion, 
                Permiso.TramiteAlta, 
                Permiso.TramiteBaja, 
                Permiso.TramiteModificacion, 
                Permiso.adminPermiso } : new List<Permiso> {};
    
            // Obtener hash
            _usuario.contrasena = SGE.Aplicacion.ServicioHash.generarHashContrasena(_usuario.contrasena);
            // Registrar el usuario
            altaUsuario.Ejecutar(_usuario);
            UsuarioLogged.SetUsuario(_usuario);
             // Redirigir a la página de inicio de sesión o a otra página adecuada
            Navigation.NavigateTo("/expedientes");
        }
        }catch(Exception e)
        {
            msj = e.Message.ToString(); 
            dialogo.Mostrar();
        }
    }
}